@import '@/styles/variable.scss';

.profile-container {
  min-height: 600px;
  max-width: 960px;
  // height: 100vh;

  .menu-container {
    max-width: 220px;
    width: 100%;
    height: 600px;
    background-color: $info;
  }
  .form-container {
    width: 100%;
    height: 600px;
    background-color: #fff;
  }
}
