@import '@/styles/variable.scss';

.carouselInner {
  padding-bottom: 20px;
  padding-left: 40px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: transparent transparent; /* scroll thumb and track */
}

.arrowBtn {
  padding-right: 60px;
  button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
  }
  button:hover {
    border: 1px solid $secondary;
    color: $secondary;
  }
}

@media screen and (max-width: 768px) {
  .carouselInner {
    padding-left: 10px;
  }
  .arrowBtn {
    padding-right: 20px;
  }
}
