@import '@/styles/variable.scss';

.carouselInner {
  padding-bottom: 70px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: transparent transparent; /* scroll thumb and track */
}

.arrowBtn {
  right: 0;
  bottom: 0;
  button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    // line-height: 50px;
  }
}
