@import '@/styles/variable.scss';

.about {
  letter-spacing: 1px;
  padding-block: 80px;
  background-image: url('../../../public/images/home/about-bg.png');
  background-size: cover;
  background-position: center;

  h3 {
    font-family: Noto Serif TC;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
  }
  .aboutItem {
    border-radius: 4px;
    overflow: hidden;
    margin-inline: 10px;
    .imgWrapper {
      position: relative;
      border-radius: 6px;

      .imgTxt {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        color: #fff;
        border: 1px solid #fff;
      }

      .imgDiv {
        //讓Image可以定位在img裡
        position: relative;
        width: 270px;
        height: 380px;
        // filter: blur(3px);
      }
    }

    .content {
      background-color: $info;
      display: none;
      padding: 24px;
      h4 {
        color: $secondary;
      }
      p {
        color: #fff;
        margin-top: 16px;
      }
    }
  }
}
