.main {
  img {
    cursor: zoom-in;
  }
}

.box {
  //整個地圖區塊
  padding: 5px;
  border-radius: 1%;
  // .bg {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   opacity: 0.5;
  // }
  svg {
    //全部svg
    width: 100%;
    height: 100%;
    fill: #d9d9d9;
    // circle {
    //   // overflow: hidden;
    //   stroke: rgba(250, 235, 215, 0.178);
    //   // animation: extend 5s linear 2s infinite;
    // }
    path {
      width: 100%;
      height: 100%;
    }
    //東沙的方
    rect {
      fill: none;
      stroke: var(--bs-gray);
    }
    .use {
      //複製出來的svg
      fill: #000000;
    }
  }
}

.same {
  //想要同時選取 圓形+區 的時候亮
  // &:hover {
  //   fill: #74d8ff;
  //   .diveSvg {
  //     //潛水伕
  //     fill: black;
  //     animation: cloudAni 2s infinite linear;
  //   }
  // }
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: center;
  //   animation: circle 5s ease-in 1.3s infinite;
}
@keyframes circle {
  50% {
    transform: scale(2);
  }
  0% {
    transform: scale(1);
  }
}
.district {
  //8大區域
  fill: pink;
  cursor: pointer;
  path {
    //各個區
    &:hover {
      // fill: rgba(148, 212, 241, 0.148);
      transition: fill 0.3s linear;
      // stroke: #00000048;
    }
  }
}

.ctaSvg {
  //圓形裡面所有東西
  animation: jump 2s ease-in-out infinite;
  // animation-delay: 200ms;
  cursor: pointer;
  fill: rgb(189, 199, 239);
  .diveSvg {
    // 裡面的人
    fill: #000;
  }
}

@keyframes cloudAni {
  0% {
    transform: translateX(6%);
  }
  /*可加50%給他loop*/
  50% {
    transform: translateY(-1%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-5%); /*最左邊*/
  }
}
@keyframes jump {
  0%,
  100% {
    transform: translate(2%, 0);
  }
  25%,
  50% {
    transform: translate(2%, 1.5%);
  }
}
@keyframes extend {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.weather {
  //氣象資訊區塊
  .weather-detail {
    font-size: 20px;
    line-height: 30px;
  }
}
