.main {
  img {
    cursor: zoom-in;
  }
}

.box {
  //背景淺藍部分
  border-radius: 1%;
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
  svg {
    //全部svg
    width: 100%;
    height: 100%;
    fill: #d9d9d9;
    circle {
      overflow: hidden;
      stroke: antiquewhite;
    }
    path {
      width: 100%;
      height: 100%;
    }
    rect {
      fill: none;
      stroke: var(--bs-gray);
    }
  }
}

.same {
  fill: rgb(47, 172, 47);
  //想要同時選取的部分 圓形+區
  &:hover {
    fill: #ff0707;
    .diveSvg {
      //潛水伕
      fill: black;
      animation-name: cloudAni;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

.district {
  //8大區域
  cursor: pointer;
  stroke: #b5b5b5;
  path {
    //各個區
    &:hover {
      // fill: rgba(148, 212, 241, 0.148);
      transition: fill 0.3s linear;
      stroke: #000;
    }
  }
}

.ctaSvg {
  //圓形裡面所有東西
  animation: jump 2s ease-in-out infinite;
  // animation-delay: 200ms;
  cursor: pointer;
  // &:hover {
  //   //滑鼠移到圓形
  //   fill: rgb(247, 249, 219);
  //   transition: fill 0.8s linear;
  //   circle {
  //     //單純圓形
  //     stroke: #909090;
  //     fill: #edd5ea1b;
  //   }
  // }
  .diveSvg {
    // 裡面的人
    fill: #000;
  }
}
@keyframes cloudAni {
  0% {
    transform: translateX(6%);
  }
  /*可加50%給他loop*/
  50% {
    transform: translateY(1%);
  }

  100% {
    transform: translateX(-6%); /*最左邊*/
  }
}
@keyframes jump {
  0%,
  100% {
    transform: translate(2%, 0);
  }
  25%,
  50% {
    transform: translate(2%, 2%);
  }
}

.weather {
  //氣象資訊
  .weather-detail {
    font-size: 20px;
    line-height: 30px;
  }
}
