// 引用顏色樣式
@import './variable.scss';
// 覆蓋bootstrap樣式
// 取消連結的下底線
$link-decoration: none;

// 改購物車上的紅點
$badge-font-weight: 500;
$badge-padding-y: 0.3em;
$badge-padding-x: 0.4em;

$form-check-input-bg: rgba(217, 217, 217, 0.2);
$form-check-input-border: 1px solid rgba(217, 217, 217, 0.2);
$form-check-input-focus-border: 1px solid rgba(217, 217, 217, 0);
$form-check-input-checked-bg-color: $secondary;
$form-check-input-focus-box-shadow: none;
// accordion 樣式
$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: none;
// form control 樣式
$input-focus-border-color: $secondary; // 考慮要primary還是secondary
$input-focus-box-shadow: none;

// 導入bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';
// 導入字體
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Serif+TC:wght@700&family=Noto+Serif:wght@700&display=swap';

body {
  // letter-spacing: 1px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

// -----slider-----
.Slider {
  margin-top: 20px;
  padding: 0 calc(3.5vw + 80px);
  position: relative;

  .wrap {
    width: 300px;
    outline: none;
  }

  img {
    border: 4px solid transparent;
    border-radius: 4px;
    margin: auto;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    transition-duration: 300ms;
    max-width: 100%;

    &:hover {
      border: 2px solid $secondary;
    }
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: red;
    }
  }

  .slick-dots li.slick-active button:before {
    color: #fff !important;
  }

  .slick-thumb {
    bottom: -3.5rem;
    height: 50px;
    > li {
      width: 35px;
      margin: 0 10px;

      &.slick-active img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }

  .slick-slide {
    &:not(.slick-current) div div img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
