// 引用顏色樣式
@import './variable.scss';
// 覆蓋bootstrap樣式
// 取消連結的下底線
$link-decoration: none;

// 改購物車上的紅點
$badge-font-weight: 500;
$badge-padding-y: 0.3em;
$badge-padding-x: 0.4em;

$form-check-input-bg: rgba(217, 217, 217, 0.2);
$form-check-input-border: 1px solid rgba(217, 217, 217, 0.2);
$form-check-input-focus-border: 1px solid rgba(217, 217, 217, 0);
$form-check-input-checked-bg-color: $secondary;
$form-check-input-focus-box-shadow: none;
// accordion 樣式
$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: none;
// form control 樣式
$input-focus-border-color: $secondary; // 考慮要primary還是secondary
$input-focus-box-shadow: none;
// pagination 樣式
$pagination-focus-bg: $info;
$pagination-focus-color: #fff;
$pagination-focus-box-shadow: none;

// 導入bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';
// 導入字體
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Serif+TC:wght@700&family=Noto+Serif:wght@700&display=swap';

body {
  // letter-spacing: 1px;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
}
