// sidebar toggle
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -17rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper {
  width: 17rem;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: -18rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -18rem;
  }
}

.w-350 {
  /* // width: 360px; */
  width: 100%;
}

.w-350 img {
  width: 100%;
}

.card-text {
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.note-text {
  color: var(--red, #dc5151);
}

.type-text {
  color: var(--gray, #858585);
  font-weight: normal;
}

/* override by css variable */
.no-border {
  --bs-border-width: 0;
}

/*  card-body override */
.no-space-x {
  padding: var(--bs-card-spacer-y) 0;
}

.origin-p {
  margin-bottom: 0;
}

/* grid list */
.toolbar {
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
}

.toolbar i {
  font-size: 18px;
}

/* sidebar */
div.scroll {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  padding: 10px;
}

.cats {
  border-bottom: 0.05rem solid gray;
  min-height: 200px;
}

.color-f {
  font-size: 10px;
  text-align: center;
}

/* always show scrollbars */
// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 6.5px;
//   height: 15px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: rgba(0, 0, 0, 0.241);
//   box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }

.h-now {
  font-size: 16px;
  color: rgb(17, 17, 17);
  font-weight: 400;
}

.f-12 {
  font-size: 16px;
  font-weight: 700;
}

.product-img {
  width: 520px;
  height: auto;
}

.product-desc {
  line-height: 30px;
  font-size: 18px;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//card
.discount-tag {
  font-size: 12px;
  padding: 2px 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 10px;
  font-size: 15px;
}

//order
#sidebarToggle:hover {
  background-color: #ff9720;
  color: #fff;
  border: none;
}
.dropdown-item:hover,
.dropdown-toggle:hover {
  background-color: #265475;
  color: #fff;
  border: none;
}
.order-boxsizing {
  width: 390;
  box-sizing: border-box;
}

//filter
.accordion-button.active {
  background-color: #265475;
  color: #fff;
}
.clear-settings {
  background-color: #265475;
  border: #265475;
  // color: #265475;
  // outline: #265475 1px solid;
  border-radius: 20px;
  font-weight: 400;
}
.TbSettingsX {
  font-size: 18px;
}
.brand-css:hover,
.category-css:hover {
  width: 100px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ff9720;
  text-decoration-thickness: 3px;
  text-decoration-style: dashed;
  text-underline-offset: 4.5px;
}
.brand-css,
.category-css,
.price-filter-css
{
  font-size: 15px;
  color: #303132;
}

//product-list
.viewmore-css{
  font-size: 16px;
  font-weight: 500;
}

//product-detail
.detail-TbHeartX,
.detail-GoHeartFill,
.detail-FaCartPlus{
  padding-bottom: 1.8px;
}

.GiClothes,
.FaShuttleVan{
  padding-right: 2px;
}

//common
.product-Breadcrumb{
  font-size: 16.5px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
