// post輪播
.carousel {
  height: 300px; /* 修改為你想要的高度值 */
}
.carousel-item {
  height: 300px;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 可以保持圖片比例並填滿整個輪播區域 */
}

// post卡片
.card {
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  // transform-origin: center;
  // transition: all 0.4s ease-in-out;

  overflow: hidden;
  transform: perspective(25em);
  background: #fff content-box;
  box-shadow: (2px 1px 10px #26547538);
  animation: card 2s ease-out backwards;
}

@keyframes card {
  0% {
    transform: perspective(25em) rotateY(0.5turn);
  }
}

.card-action svg {
  aspect-ratio: 1;
  width: 50%;
}

.card-action {
  --size: clamp(300px, 100vmin, 60px);
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 65%;
  right: 1.5rem;
  transform: translateX(50%) translateX(calc((var(--size) * 0.4)))
    translateX(calc(var(--hover, 0) * (var(--size) * -0.45)));
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsl(0 0% 100% / 0.5);
  transition: transform 0.2s;
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}

// 圖片上傳按鈕
.myLabel {
  font-size: 18px;
  position: relative;
  width: 170px;
  height: 42px;
  border: 2px solid #efbb00;
  border-radius: 6px;
  overflow: hidden;
  background: #ff9720;
  padding: 2px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  cursor: pointer;

  .icon {
    width: 30px;
    height: 30px;
    background-color: #3a3434;
    color: #f0bc00;
    border-radius: 6px;
  }
}
