/* 在你的 React 組件檔案中，或者在全域樣式表中加入以下 CSS 代碼 */
.carousel {
  height: 300px; /* 修改為你想要的高度值 */
}

.carousel-item {
  height: 300px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 可以保持圖片比例並填滿整個輪播區域 */
}

.myLabel {
  font-size: 18px;
  position: relative;
  width: 120px;
  height: 36px;
  border: 2px solid #efbb00;
  border-radius: 6px;
  overflow: hidden;
  background: #ff9720;
  padding: 5px;
  align-items: center;
  display: flex;
}
.myLabel .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: #3a3434;
  font-size: 20px;
  color: #f0bc00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
