<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Bootstrap demo</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous'>
</head>

<body>
  <div class='container p-3'>
    <form name='form' method='post'>
      <div class='input-group mb-3'>
        <span class='input-group-text'>Mail</span>
        <input type='text' class='form-control' name='email'>
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text'>PWD</span>
        <input type='password' class='form-control' name='password'>
      </div>
      <div class='d-flex'>
        <div class='btn btn-primary ms-auto btn-send'>送出</div>
        <!-- <button class='btn btn-primary ms-auto' type='submit'>送出</button> -->
      </div>
    </form>
    <div class='login d-none'>
      <div class='d-flex'>
        <div class='img'>
          <img src='' alt=''>
        </div>
        <div class='content'>
          <h1>user_name</h1>
          <div class='btn btn-primary ms-auto btn-logout'>登出</div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  const sendBtn = document.querySelector('.btn-send')
  const btnLogout = document.querySelector('.btn-logout');

  sendBtn.addEventListener('click', (e) => {
    let form = document.querySelector('form');
    // 建立自定義表單，並把form的資料格式放入
    let formData = new FormData(form);

    // FormData本身不具可迭代性
    //因此需要透過entries()這個迭代器協助取出資料檢查
    // for (let [key, value] of formData.entries()) {
    //   console.log(`${key}: ${value}`);
    // }

    let url = 'http://localhost:3005/api/users/login'
    fetch(url, {
      method: 'POST',
      body: formData,
      credentials: 'include'
    })
    .then(response => response.json())
    .then(result => console.log(result))
    .catch(err => console.log(err))
  })


</script>

</html>