@import '@/styles/variable.scss';

.latestBlock {
  padding-block: 40px;
  letter-spacing: 1px;
  //  列表
  .list {
    ul {
      margin-top: 20px;
      padding-inline: 10px;
      border-radius: 6px;
      height: 360px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $light-gray transparent;

      li {
        padding: 16px 24px;
        border-bottom: 1px solid $light-gray;

        h6 {
          font-size: 18px;
        }
        .postDay {
          text-align: center;

          .date {
            margin-bottom: 0;
            font-size: 36px;
            font-weight: bold;
            line-height: 36px;
          }
          .month {
            font-size: 20px;
            margin-bottom: 0;
          }
        }
      }

      li:hover,
      .active {
        background-color: $light-gray;
      }

      .tag {
        border: 1px solid $info;
        color: $info;
        border-radius: 20px;
        font-size: 14px;
      }
    }
  }
  // 預覽區塊
  .preview {
    padding-inline: 30px;
    height: 500px;

    .imgDiv {
      width: 100%;
      height: 270px;
      background-color: #ccc;
      border-radius: 6px;
      overflow: hidden;
    }

    .content {
      position: relative;
      h6 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        color: $gray;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
      .moreBtn {
        position: absolute;
        bottom: 0px;
        right: 10px;
        color: $secondary;
        // border: 1px solid $secondary;
      }
    }
  }
}

.allList {
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.pageBtn {
  background-color: $info;
  border: 1px solid $info;
  color: #fff;
  &:active {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
}
