@import '@/styles/variable.scss';

/* 主視覺 */
.main-layout {
  width: 100vw;
  padding-block: 5vw;
}

.main-style {
  background-image: url(/images/users/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-style * {
  color: #fff;
}

.main-style a {
  display: inline-block;
  text-decoration: none;
}

.main-style a:hover {
  color: $secondary;
  text-decoration: underline;
}

.card-layout {
  max-width: 390px;
  width: 100%;
  padding: 40px 32px;
}

.card-style {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    141deg,
    rgba(255, 255, 255, 0.7) -104.67%,
    rgba(91, 123, 144, 0.7) 40.5%,
    rgba(255, 255, 255, 0.7) 206.99%
  );
  backdrop-filter: blur(2px);
}

.card-style form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* input的相關設定 */
.input-style {
  position: relative;
  & input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    outline: none;
    &:-webkit-autofill {
      transition-property: background-color, color;
      transition-delay: 86400s;
    }
    &:autofill {
      transition-property: background-color, color;
      transition-delay: 86400s;
    }
    &::placeholder {
      /* 沒有轉透明的話，focus時文字會保留在上方，看起來怪怪的 */
      color: transparent;
    }
    /* 使用者"focus"以及"輸入完文字並within focus"時的label都要套用的樣式 */
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      color: rgba(255, 255, 255, 0.6);
      transform: scale(0.85) translateY(-1.2rem);
    }
    &[id='userEmail']:focus ~ label,
    &[id='repassword']:focus ~ label,
    &[id='userEmail']:not(:placeholder-shown) ~ label,
    &[id='repassword']:not(:placeholder-shown) ~ label {
      transform: scale(0.85) translateY(-1.2rem) translateX(-0.2rem);
    }
  }

  & label {
    position: absolute;
    bottom: 8px;
    left: 0;
    transition: transform 0.1s ease-in-out;
  }
}

/* 忘記密碼欄位 */
.space {
  margin-top: -16px;
}

// 警號訊息
.notify {
  height: 1rem;
}

/* 按鈕樣式 */
.btn {
  text-align: center;
  padding: 4px 8px;
  border: 1px solid rgba(217, 217, 217, 0.1);
  border-radius: 6px;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(2px);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: $secondary;
}
.btn:active {
  /* background-color: #e5881e; */
  box-shadow: 0 0 10px 6px #f49120 inset;
}

/* social */
.title::before,
.title::after {
  content: '';
  flex-grow: 1;
  background-color: #fff;
  height: 1px;
  margin: 0px 8px;
}
@media screen and (max-width: 390px) {
  .main-layout {
    padding: 0px;
  }

  .card-style {
    border-radius: 0px;
  }
}
