.main {
  height: 100vh;
  width: 100vw;
}

.card {
  max-height: 606px;
  height: 100%;
  margin-top: 80px;
}

.option-container {
  height: 100%;
  background-color: #013c64;
  border-radius: 10px 0 0 10px;
  padding: 2.5rem;
}

.form-container {
  height: 100%;
  border: 1px solid #013c64;
  border-radius: 0 10px 10px 0;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4da8e4;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
