@import '@/styles/variable.scss';

.proMainBlock {
  background-image: linear-gradient(to top, #265778de 0%, #26577800 100%);

  margin-top: 80px;
  padding-bottom: 200px;
  letter-spacing: 1px;
  text-align: center;
  .title {
    border-left: 4px solid $secondary;
    border-right: 4px solid $secondary;
    margin-bottom: 80px;
    h3 {
      font-family: Noto Serif TC;
      letter-spacing: 1px;
      font-size: 30px;
      color: #fff;
    }
  }
  .more {
    padding: 8px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
  }
  .more:hover {
    color: #fff;
    border: 1px solid $secondary;
    background-color: $secondary;
  }
}
