@import '@/styles/variable.scss';

.cardItem {
  width: 280px;
  position: relative;
  margin-inline: 10px;
  margin-bottom: 20px;
  .tag {
    background-color: $danger;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 10px;
    text-shadow: 0 0 5px #fff;
  }
  .imgDiv {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
  }

  .cardBody {
    text-align: center;
    h5 {
      font-size: 17px;
    }

    p {
      color: $danger;
    }
  }
}

.cardItem:hover {
  .imgDiv {
    img {
      transform: scale(1.2);
      transition: transform 0.3s linear;
    }
  }
}

@media screen and (max-width: 390px) {
  .cardItem {
    width: 160px;
    position: relative;
    margin-inline: 10px;
    margin-bottom: 20px;
    .imgDiv {
      width: 100%;
      height: 200px;
    }
  }
}
