@import '@/styles/variable.scss';
.bg_color {
  background-color: $super-light-gray;
}
.pt {
  padding-top: '5rem';
}
.lesson-img {
  width: 730px;
  height: 450px;
  // background-color: $secondary;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #c8e8f9;
    border-radius: 10px;
    margin: 3rem 130px 1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary;
  }
}

.scrollbar_area {
  height: 100vh;
  overflow-y: scroll;
}
.on {
  color: gold;
}

.off {
  color: gray;
}

.good-style {
  color: red;
}

.btn-none {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25rem;
}
.list-bg {
  background-color: #fff;
}
.bg-hover {
  :hover {
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    color: $secondary;
    border-color: $secondary;
  }
  .text-area {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .hover-none {
    pointer-events: none;
  }
}
.text-area {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
