@import '@/styles/variable.scss';

.footerContent {
  background-color: $primary;
  .footerTop {
    padding-inline: 40px;
    padding-top: 40px;
  }
  h2 {
    font-size: 40px;
  }
  ul {
    padding: 0;
    margin-right: 30px;
  }

  .linkTxt,
  p {
    font-size: 14px;
    color: $light-gray;
    text-wrap: nowrap;
  }
  .linkTxt:hover {
    color: $secondary;
  }

  span {
    display: block;
    height: 1px;
    width: 95%;
    background-color: #fff;
    margin: auto;
  }
}

.footerButton {
  ul {
    li {
      margin: 10px;
      a {
        color: #fff;
        i {
          font-size: 24px;
        }
      }
      a:hover {
        color: $secondary;
      }
    }
  }
  p {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footerContent {
    .footerTop {
      flex-direction: column;
      margin-top: 20px;
      padding-inline: 15px;

      ul {
        margin-top: 20px;
      }
    }
  }
}
