@import '@/styles/variable.scss';

.server {
  letter-spacing: 1px;
  margin-block: 120px;
  text-align: center;
  .title {
    border-left: 4px solid $secondary;
    border-right: 4px solid $secondary;
    margin-bottom: 80px;
    h3 {
      font-family: Noto Serif TC;
      font-size: 30px;
      text-align: center;
      color: #fff;
    }
  }

  .severContent {
    position: relative;
    text-align: start;
    letter-spacing: 1.5px;

    h4 {
      color: #fff;
      font-weight: 200;
      font-size: 28px;
      line-height: 40px;
      background-color: $info;
      display: inline-block;
      padding: 12px 24px;
      border-radius: 30px 30px 0 30px;
    }
    p {
      color: #fff;
      line-height: 35px;
      margin-top: 30px;
    }
  }
  .sevLesson {
    padding-inline: 80px;
    .imgDiv {
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      width: 450px;
      height: 520px;
      animation: opaAni 2s linear;
    }
    .content {
      padding-top: 100px;
      padding-left: 80px;
      width: 60%;
    }
  }

  .sevProduct {
    padding-inline: 80px;
    padding-block: 120px;
    .imgDiv {
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      width: 720px;
      height: 400px;
    }
    .content {
      padding-top: 50px;
      padding-right: 80px;
      width: 60%;
    }
  }
}

@keyframes opaAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .server {
    margin-block: 30px;

    .severContent {
      text-align: start;

      h4 {
        font-size: 24px;
        line-height: 30px;
        padding: 16px 24px;
        border-radius: 30px 30px 0 30px;
      }
      p {
        color: #fff;
        line-height: 30px;
        margin-top: 20px;
      }
    }

    .sevLesson {
      padding-inline: 20px;
      flex-direction: column;
      align-items: center;
      .imgDiv {
        width: 95%;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        padding-top: 40px;
        padding-inline: 0px;
        width: 100%;
      }
    }

    .sevProduct {
      flex-direction: column;
      align-items: center;
      padding-inline: 20px;
      padding-block: 0px;
      .imgDiv {
        margin-top: 130px;
        width: 95%;
        height: 280px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        padding-top: 30px;
        padding-right: 0px;
        width: 100%;
      }
    }
  }
}
