@import '@/styles/variable.scss';

.menu-container {
  max-width: 200px;
  background-color: $info;
  .avatar {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    & img {
      object-fit: cover;
    }
  }
  & li a {
    display: inline-block;
    width: 100%;
    padding-block: 12px;
    color: $white;
    transition: background 0.2s ease-in-out;
    &:hover {
      background-color: $secondary;
    }
    & svg {
      vertical-align: middle;
      margin-bottom: 2px;
      margin-inline-end: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .menu-container {
    max-width: 100% !important;
    border-radius: 0.375rem 0.375rem 0 0 !important;
  }
}
