$primary: #013c64;
$secondary: #265475;
$orange: #ff9720;
$gray: #858585;
$light-gray: #d9d9d9;
$super-light-gray: #f5f5f5;

.navWeb {
  background-color: $primary;
  padding-block: 10px;
  padding-inline: 20px;
  .listIcon {
    display: none;
    color: #fff;
    background-color: transparent; //移除button顏色
    border: 0;
  }
}

.navRwd {
  display: none;
}

@media screen and (max-width: 768px) {
  .navBar {
    position: relative;
    .navWeb {
      padding-block: 0px;
      padding-inline: 0px;
      h1 {
        margin-left: 15px;
      }
      .listIcon {
        display: block;
      }
      .listIcon:hover {
        color: $orange;
      }
    }
    .active {
      display: block;
    }
  }
}
