@import '../client/styles/variable.scss';

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  .navWeb {
    padding-block: 12px;
    padding-inline: 40px;
    .listIcon {
      display: none;
      color: #fff;
      background-color: transparent; //移除button顏色
      border: 0;
    }
  }

  .navRwd {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    position: relative;
    .navWeb {
      padding-block: 0px;
      padding-inline: 0px;
      h1 {
        margin-left: 15px;
      }
      .listIcon {
        display: block;
      }
      .listIcon:hover {
        color: $orange;
      }
    }
    .active {
      display: block;
    }
  }
}
