@import '@/styles/variable.scss';

.subMenu {
  position: relative;

  ul {
    position: absolute;
    width: 200px;
    padding-left: 0;
    background-color: $super-light-gray;
    border-radius: 2px;
    right: calc(50% - 100px);
    top: 53px;
    animation-name: subMenuAni;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    a {
      display: block;
      color: $info;
      padding-inline: 12px;
      padding-block: 12px;
      border-radius: 2px;
    }
    a:hover {
      background-color: #fff;
      color: $secondary;
      animation-name: aAni;
      animation-duration: 0.5s;
      animation-timing-function: linear;
    }
  }
  .active {
    display: block;
  }
  .inactive {
    display: none;
  }
}
.linkText {
  color: #fff;
  line-height: 46px;
}
.linkText:hover,
.linkFocus {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

.login {
  background-color: #fff;
  color: $secondary;
  border-radius: 50px;
  text-align: center;
}
.login:hover {
  background-color: $secondary;
  color: #fff;
}

.loginIcon {
  display: none;
}

.avatar {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  & img {
    object-fit: cover;
  }
  &:hover {
    box-shadow: 0 0 3px $white;
  }
}

.cart {
  color: #fff;
  background-color: transparent;
  border: 0;
  i {
    font-size: 22px;
  }
  .cartDot {
    border: 0.5px solid #fff;
    top: 17px;
    left: 28px;
  }
}
.cart:hover {
  color: $secondary;
}

.linkText:hover,
.login:hover,
.cart:hover {
  transition: 0.3s ease-in-out;
}

@keyframes subMenuAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    min-width: 100px;
  }
  .navMenu,
  .subMenu {
    display: none;
  }
  .login {
    display: none;
  }
  .loginIcon {
    display: block;
    color: #fff;
    line-height: 30px;
    text-align: center;
  }
  .loginIcon:hover {
    color: $secondary;
    transition: 0.3s ease-in-out;
  }
}
